/* Start Variables */
:root {
  --main-color: #fb5849;
  --black-color: #2a2a2a;
  --white-color: #fff;
  --main-transition: 0.3s;
}

/* End Variables */

/* Start Global Rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* outline: 1px solid limegreen; */
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}
::-moz-selection {
  /* Code for Firefox */

  background: var(--main-color);
}

::selection {
  background: var(--main-color);
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: var(--black-color);
}
::-webkit-scrollbar {
  width: 8px;
  /* vertical */
  height: 8px;
  /* horizontal */
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(251, 88, 73, 0.85);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules  */
/* Start Component */
.container .special-head h6 {
  position: relative;
  font-size: 15px;
  color: var(--main-color);
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 40px;
}
.special-head h6::before {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  height: 1px;
  width: 30px;
  background-color: var(--main-color);
}
.container .special-head h2 {
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 900;
  color: var(--black-color);
  max-width: 400px;
}
/* End Component */
/* Start Loading */
.loading {
  background-color: var(--main-color);
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
}
/* End Loading */

/* Start Header */
header {
  background-color: var(--white-color);
  width: 100%;
}
header.fixed {
  z-index: 998;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

header .container > ul.links {
  display: flex;
  gap: 30px;
}
@media (min-width: 768px) {
  header .container > ul.links {
    display: flex !important;
  }
}
header .container > ul.links li a {
  color: var(--black-color);
  font-weight: 500;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
header .container > ul.links li :is(a:hover, a:focus, a:active) {
  color: var(--main-color);
}
header .container > ul.links li:nth-child(5) {
  position: relative;
}
header .container > ul.links li:nth-child(5) > ul {
  position: absolute;
  top: 50px;
  z-index: -2;
  width: 200px;
  opacity: 0;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
header .container > ul.links li:nth-child(5) >  ul.active
{
  opacity: 1;
  top: 30px;
  z-index: 99;
}
header .container > ul.links li:nth-child(5) > ul li {
  padding: 12px;
  cursor: pointer;
  background-color: #f7f7f7;
}
header .container > ul.links li:nth-child(5) > ul li:hover {
  background-color: var(--white-color);
}

header .container > ul.links li:nth-child(5) > ul li:not(:last-child) {
  border-bottom: 1px solid rgb(223, 223, 223);
}
header .container > ul.links li:nth-child(5) > ul li a {
  font-weight: normal;
  font-size: 15px;
  display: inline-block;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
header .container > ul.links li:nth-child(5) > ul li:hover a {
  color: var(--main-color);
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}
header .container .nav {
  gap: 7px;
  display: none;
  cursor: pointer;
  flex-direction: column;
}

header .container .nav span {
  border: 1px solid var(--black-color);
  width: 30px;
}
header .container .nav :is(span:last-child, span:first-child) {
  width: 22px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
header .container .nav.active {
  gap: 0;
}

header .container .nav.active span:nth-child(2) {
  display: none;
}
header .container .nav.active :is(span:last-child, span:first-child) {
  width: 35px;
}
header .container .nav.active span:first-child {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
header .container .nav.active span:last-child {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
@media (max-width: 767px) {
  header .container .nav {
    display: flex;
  }
  header .container > ul.links {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 15px;
    display: none;
    gap: 0;
    flex-direction: column;
    text-align: center;
    width: calc(100% - 30px);
  }
  header .container .nav.active ~ ul.links {
    display: flex !important;
  }
  header .container > ul.links li {
    padding: 18px !important;
    border-top: 1px solid rgb(223, 223, 223);
    background-color: #f7f7f7;
    cursor: pointer;
    width: 100%;
    transition: all var(--main-transition);
    -webkit-transition: all var(--main-transition);
    -moz-transition: all var(--main-transition);
    -ms-transition: all var(--main-transition);
    -o-transition: all var(--main-transition);
  }
  header .container > ul.links li a {
    width: 100%;
    display: inline-block;
  }
  header .container > ul.links > li:not(:nth-child(5)):hover {
    background-color: rgb(224, 224, 224);
  }
  header .container > ul.links > li:not(:nth-child(5)):hover > a {
    color: var(--main-color);
  }

  header .container > ul.links li:nth-child(5) {
    padding: 0 !important;
  }
  header .container > ul.links li:nth-child(5) > a {
    padding: 0 !important;
    width: 100%;
  }
  header .container > ul.links li:nth-child(5) > a:hover {
    background-color: rgb(224, 224, 224);
  }
  header .container > ul.links li:nth-child(5) > a {
    padding: 18px !important;
    display: inline-block;
  }
  header .container > ul.links li:nth-child(5) ul {
    all: unset;
    width: 100%;
    display: none;
  }
  header .container > ul.links li:nth-child(5) ul.active {
    display: block;
  }
  header .container > ul.links li:nth-child(5) > ul li {
    border: none;
    border-top: 1px solid rgb(223, 223, 223);
  }
  header .container > ul.links li:nth-child(5) > ul li:hover {
    background-color: rgb(224, 224, 224);
  }
  header .container > ul.links li:nth-child(5) > ul li:hover a {
    color: var(--main-color);
  }
  header .container > ul.links li:nth-child(5) > ul li a:hover {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
/* End Header */

/* Start Landing */
.landing {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.landing .left {
  grid-column: 1 / 2;
  background-image: url(../images/top-left-bg.jpg);
  background-size: cover;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landing .right {
  grid-column: 2 / span 3;
  background-image: url(../images/slide-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  .landing {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .landing .left {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .landing .right {
    grid-column: 1 / span 1;
    grid-row: 2 / span 3;
  }
}
.landing .left h4 {
  font-family: "Dancing Script", cursive;
  color: var(--white-color);
  font-size: 54px;
  font-weight: 700;
}
.landing .left p {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white-color);
  letter-spacing: 3px;
  margin-top: 5px;
}
.landing .left a {
  background-color: var(--white-color);
  color: var(--main-color);
  padding: 15px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
.landing .left a:hover {
  opacity: 0.9;
}
.landing .right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.landing .right .buttons {
  display: flex;
  padding-inline: 15px;
  justify-content: space-between;
}
.landing .right .buttons :is(.prev, .next) {
  background-color: var(--main-color);
  cursor: pointer;
  padding: 10px 18px !important;
  opacity: 0.4;
  font-size: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
@media (max-width: 767px) {
  .landing .right .buttons :is(.prev, .next) {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
}
.landing .right .buttons :is(.prev, .next):hover {
  opacity: 1;
}
.landing .right .buttons svg {
  color: var(--white-color);
}

/* End Landing */

/* Start About */
section#about .container {
  margin-block: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 20px;
}
@media (max-width: 600px) {
  section#about .container {
    grid-template-columns: 1fr;
  }
}
section#about .container .col:first-child p {
  font-size: 14px;
  line-height: 25px;
  color: var(--black-color);
}
section#about .container .col:first-child p a {
  color: #0088fa;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
section#about .container .col:first-child p a:hover {
  color: #006bc2;
}
section#about .container .col:first-child .row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
section#about .container .col:first-child .row img {
  max-width: 100%;
}
section#about .container > .col:last-child {
  position: relative;
  text-align: center;
}

section#about .container > .col:last-child a {
  position: absolute;
  color: var(--white-color);
  background-color: var(--main-color);
  cursor: pointer;
  padding: 22px 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
section#about .container > .col:last-child a:hover {
  background-color: rgba(251, 88, 73, 0.9);
}
section#about .container > .col:last-child > img {
  max-width: 100%;
}

/* End About */

/* Start Our Menu */
section#menu {
  background-color: #fffafa;
  padding-block: 120px;
}
/* End Our Menu */

/* Start Our Chefs */
section#chefs {
  padding-bottom: 120px;
}
section#chefs .container .row h6 {
  font-size: 15px;
  color: var(--main-color);
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
section#chefs .container .row h2 {
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 900;
  color: var(--black-color);
  max-width: 400px;
}
section#chefs .container .row :is(h2, h6) {
  margin-inline: auto;
  text-align: center;
}
section#chefs .container .row:last-child {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  gap: 20px;
}
section#chefs .container .row:last-child .col {
  border: 1px solid #afafaf;
  max-width: fit-content;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
section#chefs .container .row:last-child .col:hover {
  border-color: var(--main-color);
}

section#chefs .container .row:last-child .col .img {
  position: relative;
  overflow: hidden;
}
section#chefs .container .row:last-child .col .social-icons {
  position: absolute;
  background-color: hsla(0, 0%, 16%, 0.8);
  border-radius: 3px;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 98.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
section#chefs .container .row:last-child .col:hover .social-icons {
  opacity: 1;
  visibility: visible;
}

section#chefs .container .row:last-child .col .social-icons svg {
  color: var(--black-color);
  background-color: var(--white-color);
  padding: 12px;
  transition: all var(--main-transition);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
section#chefs .container .row:last-child .col .social-icons .fa-facebook-f {
  padding: 12px 15px;
}
section#chefs .container .row:last-child .col .social-icons svg:hover {
  background-color: var(--main-color);
}
section#chefs .container .row:last-child .col .img img {
  max-width: 100%;
}
section#chefs .container .row:last-child .col h4 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: var(--black-color);
  margin-block: 10px;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
section#chefs .container .row:last-child .col:hover h4 {
  color: var(--main-color);
}
section#chefs .container .row:last-child .col span {
  font-size: 14px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-block-end: 10px;
}
/* End Our Chefs */

/*  Start Contact Us*/
section#contact {
  padding-block: 120px;
  position: relative;
  background-image: url(../images/reservation-bg.jpg);
}
section#contact .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
@media (max-width: 991px) {
  section#contact .container {
    grid-template-columns: 1fr;
  }
}
/* left col */
section#contact .container .col .special-head :is(h2, h6) {
  color: var(--white-color);
}
section#contact .container .col .special-head h6::before {
  background-color: var(--white-color);
}
section#contact .container .col > p {
  color: var(--white-color);
}
section#contact .container .col .row {
  display: flex;
  gap: 30px;
}
@media (max-width: 767px) {
  section#contact .container .col .row {
    flex-direction: column;
  }
}
section#contact .container .col .row :is(.phone, .email) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  padding-block: 40px 22px;
  margin-top: 60px;
  background-color: var(--white-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
section#contact .container .col .row .phone::before {
  content: "\f095";
}
section#contact .container .col .row .email::before {
  content: "\f0e0";
}
section#contact .container .col .row .phone::before,
section#contact .container .col .row .email::before {
  position: absolute;
  top: 0px;
  left: 50%;
  border-radius: 50%;
  font-family: "FontAwesome";
  font-size: 23px;
  color: var(--white-color);
  background-color: var(--main-color);
  padding: 25px 26px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

section#contact .container .col .row :is(.phone, .email) h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
  color: var(--black-color);
}
section#contact .container .col .row :is(.phone, .email) span {
  font-size: 14px;
  cursor: pointer;
  color: var(--black-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
section#contact .container .col .row :is(.phone, .email) span:hover {
  color: var(--main-color);
}

/*  Right col */
section#contact .container .col:last-child {
  background-color: var(--white-color);
  padding: 35px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
section#contact .container .col:last-child h1 {
  text-align: center;
  color: var(--black-color);
}
section#contact .container .col:last-child form {
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section#contact .container .col:last-child form .row {
  display: flex;
  gap: 15px;
}
section#contact .container .col:last-child form .row * {
  flex: 1;
}
section#contact
  .container
  .col:last-child
  form
  :is(.row, [type="submit"], textarea) {
  flex: 1;
}
@media (max-width: 767px) {
  section#contact .container .col:last-child form .row {
    flex-direction: column;
    gap: 15px;
  }
}
section#contact .container .col:last-child form *:not(.row) {
  outline: none;
  border: 1px solid rgb(192, 192, 192);
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
section#contact .container .col:last-child form select {
  padding: 10px !important;
}
section#contact .container .col:last-child form input::placeholder {
  color: var(--black-color);
}
section#contact .container .col:last-child form textarea::placeholder {
  color: var(--black-color);
}
section#contact
  .container
  .col:last-child
  form
  :is(input:focus, textarea:focus, select:focus) {
  border-color: var(--main-color);
}
section#contact .container .col:last-child form textarea {
  resize: none;
}
section#contact .container .col:last-child form input[type="submit"] {
  background-color: var(--main-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
}
section#contact .container .col:last-child form input[type="submit"]:hover {
  opacity: 0.9;
}
/* End Contact Us */
/* Start Footer */
footer {
  padding-block: 50px;
  background-color: var(--main-color);
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container .social-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .container .social-icons li a {
  color: var(--main-color);
  font-size: 20px;
  background-color: var(--white-color);
  padding: 10px 12px;
  margin-inline: 10px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
footer .container .social-icons li:first-child a {
  padding: 10px 15px;
}
footer .container .social-icons li a:hover {
  color: var(--black-color);
}
footer .container .col:last-child p {
  color: var(--white-color);
}
@media (max-width: 767px) {
  footer .container {
    flex-direction: column;
    gap: 30px;
  }

  footer .container .col:last-child p {
    margin-block-start: -5px;
    text-align: center;
  }
}
/* End Footer */
